body {
  width: 300px;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.button {
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap {
  gap: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.classroom {
  display: block;
  border: 0;
  border-bottom: 2px solid gray;
  padding: 0.5rem;
  width: 100%;
  transition: border-bottom 0.2s ease-in-out;
}

.classroom:focus {
  outline: none;
  border-bottom: 2px solid orange;
}

.classroom-label {
  font-size: large;
  font-weight: bold;
}
